---
layout: default
---

  {% for post in paginator.posts%}
    <!-- article -->
    <article class="article">
      <h2 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <time class="article__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <p class="article__excerpt">{{ post.description}}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="article__more">阅读全文 »</a>
    </article>
    <!-- / article -->
  {% endfor %}
    <div class="pagerBox">
        <div></div>
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">
                <button type="button" class="btn-prev">
                    <i class="arrow left-arrow"></i>
                </button>
            </a>
            {% elseif %}
            <a>
                <button type="button" class="btn-prev" disabled="disabled">
                    <i class="arrow left-arrow"></i>
                </button>
            </a>
            {% endif %}
        <div class="pageContent">
            第 {{ paginator.page }} 页 / 共 {{ paginator.total_pages }} 页
        </div>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">
            <button type="button" class="btn-next">
                <i class="arrow right-arrow"></i>
            </button>
        </a>
        {% elseif %}
        <a>
            <button type="button" class="btn-next" disabled="disabled">
                <i class="arrow right-arrow"></i>
            </button>
        </a>
        {% endif %}
    </div>
     <!--<nav class="blocks blocks&#45;&#45;space">
      <div class="blocks__item">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Previous</a>{% endif %}
      </div>
      <div class="blocks__item">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </div>
      <div class="blocks__item">
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Next</a>{% endif %}
      </div>
    </nav>-->
