  <header class="header">

    {% if site.avatar %}
      <div class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link--logo">
        <!-- <div class="spinner"></div> -->
        <img src="{{ site.avatar }}"></a>
      </div>
    {% else %}
      <h1 class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link--logo">{{ site.title }}</a>
      </h1>
    {% endif %}

    <nav class="header__nav" role="navigation">      
      <a href="{{ site.baseurl }}/archive/" class="header__link">归档</a>
      <a href="https://weibo.com/u/{{ site.weibo_username }}" class="header__link" target="_blank">微博</a>
      <!--<a href="http://github.com/{{ site.github_username }}" class="header__link" target="_blank">Github</a>-->
      <a href="{{ site.baseurl }}/about/" class="header__link">关于</a>
      <a href="{{ site.baseurl }}/read/" class="header__link">读书</a>
      <a href="https://solidnetwork.co/" class="header__link" title="什么币值得买">
        <img src="https://max-well.oss-cn-shanghai.aliyuncs.com/smbzdm/logo.jpg" alt="什么币值得买" style="width: 28px;margin: auto;">
      </a>
      
      <!-- <a href="http://144.202.70.138/" class="header__link" target="_blank">Edgeware</a> -->
    </nav>
  </header>

  <main class="col">
