
@media screen and (max-width: 800px) {
    .flexsearch {
        display: none;
    }
}

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input-wrapper {
    padding: 0;
    /* Right padding for submit button width */
    overflow: hidden;
}

.flexsearch--input {
    width: 100px;
}


.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    padding: 0 46px 0 10px;
    border-color: #888;
    border-radius: 35px;
    /* (height/2) + border-width */
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    margin-top: 2px;
    /* margin-top + border-width */
    margin-right: 8px;
    /* border-width */
    background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    outline: none;
    line-height: 30px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333;
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888;
}